@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
  width: 50vw;
  height: 50vh;
  position: relative;
}

.image-container > * {
  position: unset !important;
}

.image-container > .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover; 
}